.cards {
  border: 2px solid #0b5ed7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  border-radius: 10px 10px 0 0;
}

.content {
  padding: 10px;
}

.badge {
  top: 10px;
  right: 20px;
  font-size: 18px;
}
